<div class="main user-show">
  <div class="container">
    <div class="user">
    <div class="user-left">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
    </div>
    <div class="user-right">
      <h2><%= @user.name %></h2>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
        <%= link_to("ログアウト", "/logout", {method: :post}) %>
      <% end %>
    </div>
    </div>
    <div class="user-single-word">
      <%= @user.single_word %>
    </div>
    
    <ul class="user-tabs">
      <li><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li class="active"><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>
    
    <% @likes.each do |like| %>
      <% post = Post.find_by(id: like.post_id) %>
      <div class="posts-index-item">
        <div class="post-high">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
           <%= link_to(post.user.name, "/users/#{post.user.id}") %>
        </div>
        <div class="post-down">
          <% if post.picture_name %>
            <div class="post-index-picture">
             <img src="<%= "/post_pictures/#{post.picture_name}" %>">
            </div>
          <% end %>
<!-- Like数開始 -->
<div>
      <% if Like.find_by(user_id: @current_user.id, post_id: post.id)%>
      <%= link_to("/likes/#{post.id}/destroy", {method: "post"})do %>
        <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
      <% else %>
        <%= link_to("/likes/#{post.id}/create", {method: "post"})do %>
        <span class="fa fa-heart like-btn"></span>
        <% end %>
      <% end %>
      <% @likes_count = Like.where(post_id: post.id).count %>
      <%= @likes_count %>
<!-- Comment数開始 -->
        <%= link_to("/posts/#{post.id}")do %>
        <span class="fas fa-comment-alt"></span>
        <% end %>
      <% @comments_count = Comment.where(post_id: post.id).count %>
      <%= @comments_count %>
<!-- Comment数開始終了 -->
</div>
<!-- Like数終了 -->

          <%= link_to(post.content, "/posts/#{post.id}") %>
      <div class="post-time">
        <%= post.created_at %>
      </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
